<div id="expert-info-container" class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      Expert Account Activation
    </h1>
    <hr class="my-4">
    <p class="lead">
      {{message}}
    </p>
    <a class="btn btn-primary btn-lg home" href="/" role="button">Search More Experts</a>
  </div>
</div>
