<!-- Search form -->

<div id="profile-creation-container" class="container">
  <h1>Create Expert Finder Profile</h1>

  <!-- form for account creation -->
  <form id="profile-creation-form" action="/createProfile" method="POST">
    <h2>Contact Info</h2>
    <!-- first name and last name -->
    <div class="row">
      <!-- field for first name -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-first-name">First Name</label>
          <input class="form-control" id="profile-creation-first-name"
                 name="first-name" type="text" value="" required/>
        </div>
      </div>
      <!-- field for last name -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-last-name">Last Name</label>
          <input class="form-control" id="profile-creation-last-name"
                 name="last-name" type="text" value="" required/>
        </div>
      </div>
    </div>

    <!-- email and twitter -->
    <div class="row">
      <!-- Email -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-email">Email</label>
          <input class="form-control" id="profile-creation-email"
                 name="email" type="email" value="" required/>
        </div>
      </div>
      <!-- Twitter -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-twitter">Twitter</label>
          <input class="form-control" id="profile-creation-twitter"
                 name="twitter" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- github and linkedin -->
    <div class="row">
      <!-- GitHub -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-github">GitHub</label>
          <input class="form-control" id="profile-creation-github"
                 name="github" type="text" value=""/>
        </div>
      </div>
      <!-- LinkedIn -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-linkedin">LinkedIn</label>
          <input class="form-control" id="profile-creation-linkedin"
                 name="linkedin" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- Stack Overflow and Industry -->
    <div class="row">
      <!-- Stack Overflow -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-stackoverflow">Stack Overflow</label>
          <input class="form-control" id="profile-creation-stackoverflow"
                 name="stackoverflow" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- industry, skills, and courses -->
    <h2>Expertise</h2>
    <p>
      <span class="deemphasized">
        Select existing suggestions, or type your own and press
        <code>TAB</code>!
      </span>
    </p>
    <!-- industry -->
    <div class="form-group">
      <label for="profile-creation-industry">Industry</label>
      <div class="form-inline multi-input">
        <input class="form-control" id="profile-creation-industry"
               name="skills" type="text" value=""/>
      </div>
    </div>
    <!-- skills -->
    <div class="form-group">
      <label for="profile-creation-techskills">Skills</label>
      <div class="form-inline multi-input">
        <input class="form-control" id="profile-creation-techskills"
               name="skills" type="text" value=""/>
      </div>
    </div>
    <!-- courses -->
    <div class="form-group">
      <label for="profile-creation-coursework">Courses</label>
      <div class="form-inline multi-input">
        <input class="form-control" id="profile-creation-coursework"
               name="courses" type="text" value=""/>
      </div>
    </div>

    <!-- register and cancel buttons -->
    <div class="row" id="registration-button-row">
      <div class="col-md-8">
        <button class="btn btn-success submit" id="register" type="submit">
          Register
        </button>
      </div>
      <div class="col-md-4">
        <button class="btn cancel">Cancel</button>
      </div>
    </div>

  </form>
</div>
