<!-- Search form -->
<div id="create-profile-container" class="container">
  <h1>Create Expert Finder Profile</h1>

  <!-- form for account creation -->
  <form action="">
    <!-- first name and last name -->
    <div class="row">
    </div>

    <!-- github and linkedin -->
    <div class="row">
    </div>

    <!-- industry -->
    <div class="row">
    </div>

    <!-- skills and courses -->
    <div class="row">
    </div>

    <!-- register and cancel buttons -->
    <div class="row">
    </div>

  </form>
</div>
