<!-- Search form -->

<div id="profile-creation-container" class="container">
  <h1>Create Expert Finder Profile</h1>

  <!-- form for account creation -->
  <form id="profile-creation-form" action="/createProfile" method="POST">

    <!-- first name and last name -->
    <div class="row">
      <!-- field for first name -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-first-name">First Name</label>
          <input class="form-control" id="profile-creation-first-name" name="first-name" type="text" value=""/>
        </div>
      </div>
      <!-- field for last name -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-last-name">Last Name</label>
          <input class="form-control" id="profile-creation-last-name" name="last-name" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- email and twitter -->
    <div class="row">
      <!-- Email -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-email">Email</label>
          <input class="form-control" id="profile-creation-email" name="email" type="email" value=""/>
        </div>
      </div>
      <!-- Twitter -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-twitter">Twitter</label>
          <input class="form-control" id="profile-creation-twitter" name="twitter" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- github and linkedin -->
    <div class="row">
      <!-- GitHub -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-github">GitHub</label>
          <input class="form-control" id="profile-creation-github" name="github" type="text" value=""/>
        </div>
      </div>
      <!-- LinkedIn -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-linkedin">LinkedIn</label>
          <input class="form-control" id="profile-creation-linkedin" name="linkedin" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- industry -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-industry">Industry</label>
          <input class="form-control" id="profile-creation-industry" name="industry" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- skills and courses -->
    <div class="row">
      <!-- skills -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-skills">Skills</label>
          <div class="form-inline multi-input">
            <input class="form-control"
                   id="profile-creation-skills"
                   name="skills"
                   type="text"
                   value=""/>
            <button class="btn">Add</button>
          </div>
        </div>
      </div>
      <!-- courses -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="profile-creation-courses">Courses</label>
          <div class="form-inline multi-input">
            <input class="form-control"
                   id="profile-creation-courses"
                   name="courses"
                   type="text"
                   value=""/>
            <button class="btn">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!-- register and cancel buttons -->
    <div class="row" id="registration-button-row">
      <div class="col-md-8">
        <button class="btn btn-success submit" id="register" type="submit">Register</button>
      </div>
      <div class="col-md-4">
        <button class="btn cancel">Cancel</button>
      </div>
    </div>

  </form>
</div>
