<!-- Search form -->

<div id="expert-info-container" class="container">
  <h1>Create Expert Finder Profile</h1>

  <div class="error-message">{{errorMessage}}</div>

  <!-- form for account creation -->
  <form id="expert-info-form"
        action="/createProfile"
        method="POST"
        enctype="multipart/form-data"> <!-- Attribute for uploading an image -->
    <h2>Contact Info</h2>
    <div class="standard-fields">
      <div class=" row">
        <div class=" col-md-6">
          <div class=" form-group">
            <label for="Name">Name</label>
            <input id="Name"
                   class="form-control"
                   type="text"
                   name="Name"
                   required="required"
                   placeholder="First Last">
          </div>
        </div>
        <div class=" col-md-6">
          <div class=" form-group">
            <label for="Email">Email</label>
            <input id="Email"
                   class="form-control"
                   type="Email"
                   name="Email"
                   required="required"
                   placeholder="username@company.com">
          </div>
        </div>
      </div>
      <div class=" row">
        <div class=" col-md-6">
          <div class=" form-group">
            <label for="Twitter">Twitter</label>
            <input id="Twitter"
                   class="form-control"
                   type="text"
                   name="Twitter"
                   placeholder="twitter.com/yourTwitterHandle">
          </div>
        </div>
        <div class=" col-md-6">
          <div class=" form-group">
            <label for="Github">Github</label>
            <input id="Github"
                   class="form-control"
                   type="text"
                   name="Github"
                   placeholder="github.com/yourGitHubUsername">
          </div>
        </div>
      </div>
      <div class=" row">
        <div class=" col-md-6">
          <div class=" form-group">
            <label for="Linkedin">Linked In</label>
            <input id="Linkedin"
                   class="form-control"
                   type="text"
                   name="Linkedin"
                   placeholder="linkedin.com/yourLinkedInUsername">
          </div>
        </div>
        <div class=" col-md-6">
          <div class=" form-group">
            <label for="Stackoverflow">Stack Overflow</label>
            <input id="Stackoverflow"
                   class="form-control"
                   type="text"
                   name="Stackoverflow"
                   placeholder="stackoverflow.com/users/yourStackOverflowUsername">
          </div>
        </div>
      </div>
      <div class=" row">
        <div class=" col-md-6">
          <div class=" form-group">
            <label for="profile-picture">Profile Picture</label>
            <input id="profile-picture" class="form-control" type="file" name="profile-picture">
          </div>
        </div>
      </div>
    </div>

    <h2>Expertise</h2>
    <p>
      <span class="deemphasized">
        Start typing and select existing suggestions, or type your own and press comma to
        separate items
        (<code>,</code>)!
      </span>
    </p>
    <div class="tagify-fields">
      <!-- ASSUMPTION: <input> `name` attributes must be  identical to the
           FIELDS in getSuggestions() from database/db_interface.js  -->
      <div class=" form-group">
        <label for="TechSkills">Tech Skills</label>
        <input id="TechSkills" class="form-control" type="text" name="TechSkills">
      </div>
      <div class=" form-group">
        <label for="Coursework">Coursework</label>
        <input id="Coursework" class="form-control" type="text" name="Coursework">
      </div>
      <div class=" form-group">
        <label for="Industry">Industry/Company</label>
        <input id="Industry" class="form-control" type="text" name="Industry">
      </div>
    </div>

    <!-- register and cancel buttons -->

    <div class="row" id="registration-button-row">
      <div class="col-md-8">
        <button class="btn btn-success submit" id="register" type="submit">
          Register
        </button>
      </div>
      <div class="col-md-4">
        <button class="btn cancel">Cancel</button>
      </div>
    </div>
  </form>
</div>
