<!-- Search form -->

<div id="create-profile-container" class="container">
  <h1>Create Expert Finder Profile</h1>

  <!-- form for account creation -->
  <form id="profile-creation-form" action="">

    <!-- first name and last name -->
    <div class="row">
      <!-- field for first name -->
      <div class="col-6">
        <div class="form-group">
          <label for="profile-creation-first-name">First Name</label>
          <input class="form-control" id="profile-creation-first-name" name="first-name" type="text" value=""/>
        </div>
      </div>
      <!-- field for last name -->
      <div class="col-6">
        <div class="form-group">
          <label for="profile-creation-last-name">Last Name</label>
          <input class="form-control" id="profile-creation-last-name" name="last-name" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- email and twitter -->
    <div class="row">
      <!-- Email -->
      <div class="col-6">
        <div class="form-group">
          <label for="profile-creation-email">Email</label>
          <input class="form-control" id="profile-creation-email" name="email" type="email" value=""/>
        </div>
      </div>
      <!-- Twitter -->
      <div class="col-6">
        <div class="form-group">
          <label for="profile-creation-twitter">Twitter</label>
          <input class="form-control" id="profile-creation-twitter" name="twitter" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- github and linkedin -->
    <div class="row">
      <!-- GitHub -->
      <div class="col-6">
        <div class="form-group">
          <label for="profile-creation-github">GitHub</label>
          <input class="form-control" id="profile-creation-github" name="github" type="text" value=""/>
        </div>
      </div>
      <!-- LinkedIn -->
      <div class="col-6">
        <div class="form-group">
          <label for="profile-creation-linkedin">LinkedIn</label>
          <input class="form-control" id="profile-creation-linkedin" name="linkedin" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- industry -->
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="profile-creation-industry">Industry</label>
          <input class="form-control" id="profile-creation-industry" name="industry" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- skills and courses -->
    <div class="row">
      <!-- skills -->
      <div class="col-6">
        <div class="form-group">
          <label for="profile-creation-skills">Skills</label>
          <input class="form-control" id="profile-creation-skills" name="skills" type="text" value=""/>
        </div>
        <button id="profile-creation-skills-button">Add</button>
      </div>
      <!-- courses -->
      <div class="col-6">
        <div class="form-group">
          <label for="profile-creation-courses">Courses</label>
          <input class="form-control" id="profile-creation-courses" name="courses" type="text" value=""/>
        </div>
        <button id="profile-creation-courses-button">Add</button>
      </div>
    </div>

    <!-- register and cancel buttons -->
    <div class="row">
      <div class="col-8">
        <button type="submit">Register</button>
      </div>
      <div class="col-4">
        <button>Cancel</button>
      </div>
    </div>

  </form>
</div>
