<!-- Search form -->
<div id="create-profile-container" class="container">
  <h1>Create Expert Finder Profile</h1>

  <!-- form for account creation -->
  <form action="">

    <!-- first name and last name -->
    <div class="row">
      <!-- field for first name -->
      <div class="col-6">
        <label for="first-name">First Name</label>
        <div>
          <input id="first-name" name="first-name" type="text" value=""/>
        </div>
      </div>
      <!-- field for last name -->
      <div class="col-6">
        <label for="last-name">Last Name</label>
        <div>
          <input id="last-name" name="last-name" type="text" value=""/>
        </div>
      </div>
    </div>

    <!-- github and linkedin -->
    <div class="row">
    </div>

    <!-- industry -->
    <div class="row">
    </div>

    <!-- skills and courses -->
    <div class="row">
    </div>

    <!-- register and cancel buttons -->
    <div class="row">
    </div>

  </form>
</div>
