<div id="expert-info-container" class="container">
  <div class="jumbotron">
    <h1 class="display-4">Expert Created!</h1>
    <p class="lead">
      <span class="todo">TODO:</span>
      An email has been sent to the <strong class="success-email">{{email}}</strong> with instructions on activating the account.</p>
    <hr class="my-4">
    <p>After confirming the email the expert will be searchable!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg home" href="/" role="button">Search More Experts</a>
    </p>
  </div>
</div>
