<!-- Search form -->

<div id="profile-creation-container" class="container">
  <h1>Create Expert Finder Profile</h1>

  <!-- form for account creation -->
  <form id="profile-creation-form"
        action="/createProfile"
        method="POST"
        enctype="multipart/form-data">
    <h2>Contact Info</h2>
    <div class="standard-fields"></div>

    <h2>Expertise</h2>
    <p>
      <span class="deemphasized">
        Select existing suggestions, or type your own and press
        <code>TAB</code>!
      </span>
    </p>
    <div class="tagify-fields"></div>

    <!-- register and cancel buttons -->
    <div class="row" id="registration-button-row">
      <div class="col-md-8">
        <button class="btn btn-success submit" id="register" type="submit">
          Register
        </button>
      </div>
      <div class="col-md-4">
        <button class="btn cancel">Cancel</button>
      </div>
    </div>
  </form>
</div>
