<!-- Search form -->
<div id="search-container" class="container"style="top:100%; left:50%">
<div class="md-form mt-0" style="top:50%; left:50%">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>
</div>