
  <h2><title>Search Results</title></h2>

    <h3>[TO BE COMPLETED] In this page the profiles will appear after a search based on OSU coursework or tech stack has been executed by the application user.</h3>
      <table>
      <tr>
        <th>Name</th>
      </tr>
      <tbody>
          {{#each users}} 
          <tr>
              <td>{{name}}</td> 
          </tr> 
          {{/each}} 
      </tbody>  
    </table> 
    <hr>
    <br>


