
<div id="suggested-edits-form" class="container">
  <h1>Suggest Edits</h1>
  
  <!--Suggest Edits for Expert Form-->
  <form id="suggested-edits-form" action="/suggestEdits" method= "POST">
  <h2>What would you like to suggest edits for?</h2>
  <div class="btn-group">
  <button>First Name</button>
  <button>Last Name</button>
  <button>Email</button>
  <button>Twitter</button>
  <button>Github</button>
  <button>LinkedIn</button>
  <button>Stack Overflow</button>
  <button>Industry</button>
  <button>Skills</button>
  <button>Courses</button>
  </div>
  

  
