/* Styles for the brand in in the navbar */
#brand-link {
    color: inherit;
    text-decoration: none;
}
/* -------------------------------------------------------------------------- */
/* Styles for profile creation page */

#profile-creation-container h1 {
    text-align: center;
}

#profile-creation-form label {
    color: #527896;
}

#profile-creation-form input {
    background-color: #E9ECF5;
}

#profile-creation-form #registration-button-row {
    padding-top: 5em;
}

#profile-creation-form .multi-input input {
    width: 80%;
    margin-right: 5%;
}

#profile-creation-form .multi-input button {
    width: 15%;
}

#profile-creation-form .submit, #profile-creation-form .cancel {
    width: 100%;
}

#profile-creation-form .btn-success, #profile-creation-form .btn {
    background-color: #333E50;
    color: #FFFFFF;
}

#profile-creation-form .cancel {
    color: #546D80;
    background-color: #FFFFFF;
    border-color: #000;
}

.deemphasized { color: #a9a9a9; font-size: 0.9em; }

/* -------------------------------------------------------------------------- */
/* Styles for tagify*/
/* Taken from official tagify repo:
   https://github.com/yairEO/tagify/blob/bd4cb069b1cacb6b8bdd34457de5f86752015a9c/index.html#L579*/
.tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

/* -------------------------------------------------------------------------- */
/* Styles for profile creation success page */
.todo {
    color: red;
}

.success-email {
    color: #546D80;
}

a.btn.home {
    background-color: #333E50;
}

.jumbotron {
    background-color: #E9ECF5;
}


/* -------------------------------------------------------------------------- */

/* Styles for search results page */
#searchResults {
    border-style: solid;
    padding-bottom: 10px;    
}

#searchResults .userDetails {
    padding-bottom: 20px;
    padding-top: 20px;
}

#resultsTable {
    margin-left: 15px;
}

.showMoreLessBtn {
    padding: 0;
}
