/* Styles for the brand in in the navbar */
#brand-link {
    color: inherit;
    text-decoration: none;
}
/* -------------------------------------------------------------------------- */
/* Styles for profile creation page */

#profile-creation-container h1 {
    text-align: center;
}

#profile-creation-form label {
    color: #527896;
}

#profile-creation-form input {
    background-color: #E9ECF5;
}

#profile-creation-form #registration-button-row {
    padding-top: 5em;
}

#profile-creation-form .multi-input input {
    width: 80%;
    margin-right: 5%;
}

#profile-creation-form .multi-input button {
    width: 15%;
}

#profile-creation-form .submit, #profile-creation-form .cancel {
    width: 100%;
}

#profile-creation-form .btn-success, #profile-creation-form .btn {
    background-color: #333E50;
    color: #FFFFFF;
}

#profile-creation-form .cancel {
    color: #546D80;
    background-color: #FFFFFF;
    border-color: #000;
}

.deemphasized { color: #a9a9a9; font-size: 0.9em; }

/* -------------------------------------------------------------------------- */
/* Styles for tagify*/
/* Taken from official tagify repo:
   https://github.com/yairEO/tagify/blob/bd4cb069b1cacb6b8bdd34457de5f86752015a9c/index.html#L579*/
.tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

/* -------------------------------------------------------------------------- */
/* Styles for profile creation success page */
.todo {
    color: red;
}

.success-email {
    color: #546D80;
}

a.btn.home {
    background-color: #333E50;
}

.jumbotron {
    background-color: #E9ECF5;
}


/* -------------------------------------------------------------------------- */

/* Styles for search results page */
#searchResults {
    border-style: solid;
    padding-bottom: 10px;    
}

#searchResults .userDetails {
    padding-bottom: 20px;
    padding-top: 20px;
}

#resultsTable {
    margin-left: 15px;
}

.showMoreLessBtn {
    padding: 0;
}

/* -------------------------------------------------------------------------- */

/* Styles for suggest edits*/

#suggest-edits-button {
  position: relative;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  background-color: #3976cc;
  color: #1261A0;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

/* Just incase I need this stuff back*/

/*
#suggested-edits-form h1 {
    text-align: center;
}

.btn-group button {
  background-color: #1261A0; 
  border: 1px solid black;
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  width: 50%;
  display: block; 
}

.btn-group button:not(:last-child) {
  border-bottom: none; 
}


.btn-group button:hover {
  background-color: #FFFFFF;
}

#suggest-edits-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
} /*

