/* Styles for the brand in in the navbar */
#brand-link {
    color: inherit;
    text-decoration: none;
}
/* -------------------------------------------------------------------------- */
/* Styles for profile creation page */

#profile-creation-container h1 {
    text-align: center;
}

#profile-creation-form label {
    color: #527896;
}

#profile-creation-form input {
    background-color: #E9ECF5;
}

#profile-creation-form #registration-button-row {
    padding-top: 5em;
}

#profile-creation-form .multi-input input {
    width: 80%;
    margin-right: 5%;
}

#profile-creation-form .multi-input button {
    width: 15%;
}

#profile-creation-form .submit, #profile-creation-form .cancel {
    width: 100%;
}

#profile-creation-form .btn-success, #profile-creation-form .btn {
    background-color: #333E50;
    color: #FFFFFF;
}

#profile-creation-form .cancel {
    color: #546D80;
    background-color: #FFFFFF;
    border-color: #000;
}

body main {
}
.ExpertsProfile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
.ExpertsProfile .Keywords {
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
}

/* -------------------------------------------------------------------------- */
